# This program explains different types of python variables
* Variables are object which can be assigned variable values(that is why the name 'variable')
* variables are of following types
    * Integer 
    * Float 
    * String
    * Boolean
* We declare a variable by some character or character-numeric combination(some special characters like '/' are not allowed) then assign some value to it
    * Examples: a, b, X, y, x1, abc, Lithology, dip_angle
    * All variables are case sensitive (A and a are two different varibales)
    * Variables can be re-assigned a new values at some later point inside a program

# Integer variables: Whole number(+/-). Mainly Used for Mathematical Operations

In [3]:
# Declaring an integer variable and printing it
a = 12
print(a)

12

In [4]:
# case sensitivity check
print(A)

NameError: name 'A' is not defined

In [5]:
# Re-assignment
a=-5
print(a)

-5

# Float variables: Number with decimal points/floating points (+/-). Mainly Used for Mathematical Operations

In [8]:
# Delclaring a float variable
x=-58.307
print(x)

-58.307

In [9]:
# Declaring multiple variables simultaneously
Longitude, Latitude = 78.469, 22.028
print(Longitude, Latitude)

78.469 22.028

# String variables: Combination of characters. Mainly Used for Text Operations

In [12]:
Age='Proterozoic'
Rock='Quartzite'
print(Age)
print(Rock)

Proterozoic
Quartzite

# Simple Operations with variables

In [17]:
# Addition
a=23
b=12
print('Numbers to be added=', a, b)
c=a+b
print('Result after addition=', c)

Numbers to be added= 23 12
Result after addition= 35

In [18]:
#Result without any new variable('c')
print(a+b)

35

In [19]:
Lithology = Age+Rock
print(Lithology)

ProterozoicQuartzite

In [20]:
Lithology = Age+'_'+Rock
print(Lithology)

Proterozoic_Quartzite

# Type function and variable conversion
    * Integer can be converted to float/string
    * Float can be converted to integer/string
    * String cannot be converted to float/integer(if it consists of character only). Can only be done if it includes only numbers.

In [8]:
a=123
print(type(a))

<class 'int'>

In [6]:
i=58.79
print(type(i))

<class 'float'>

In [9]:
Rock='Basalt'
print(type(Rock))

<class 'str'>

In [11]:
#Converting an integer to float
b=float(a)
print(b)
print(type(b))

123.0
<class 'float'>

In [14]:
#Converting a float to integer
j=int(i)
print(j)
print(type(j))

58
<class 'int'>

In [16]:
# Converting float to string
s=str(b)
print(s)
print(type(s))

123.0
<class 'str'>

In [17]:
# Converting string to float fails as 'Basalt' cannot be a number
r=float(Rock)

ValueError: could not convert string to float: 'Basalt'